  
{% extends 'shared/base.html' %}

{% block content %}
    <h1>Welcome to the Tea Shop</h1>

    <h2>{{ tea.name }}</h2>
    <h3>Flavor: {{ tea.flavor }}</h3>
    <h3>Types of Packaging:</h3>
    <h4><ul>
        {% for packaging in packagings %}
            {% if packaging.name is not None %}
                <li>
                    {{ packaging.name }} - {{ packaging.longevity_in_months }} month longevity
                    <form action="{% url 'teaapp:tea' packaging.tea_packaging_id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE">
                        <button>Delete</button>
                    </form>
                </li>
            {% else %}
                <li>No packagings listed</li>
            {% endif %}
        {% endfor %}
    </ul></h4>

{% endblock content %}